@import 'styles/variables.scss';

.modal {
    width: 420px !important;
    max-width: 100%;

    font-family: $mainFontFamily;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    & > div {
        border-radius: 0 !important;
    }

    &__text {
        margin: 40px 0;

        font-family: $mainFontFamily;
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
    }

    &__openSignInButton {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 62px;
        width: 100%;

        margin-top: 20px;

        font-family: $mainFontFamily;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #fff;

        background: #2E3192;
        border-radius: 0; 
    }
}